@import "tailwindcss";

:root {
  --bg: #ffffff;
  --fg: #171717;
  --card: #ffffff;
  --border: #e5e7eb;
}

.dark {
  --bg: #0a0a0a;
  --fg: #3d3d3d;
  --card: #111827; /* dark gray, NOT black */
  --border: #1f2937;
}

body {
  background: var(--bg);
  color: var(--fg);
}
